/* import Tailwind */
@import "tailwindcss";

/* import font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme light {
    --color-primary: #FFFFFF;
    --color-secondary: #227AC5;
    --color-accent: #FF7A1A;
    --color-neutral: #25353D;
}

@theme color_Option {
    --color-color_navigationbar_top: #F1F1F1;
    --color-color_searchbar: #F2F2F7;
    --color-graybar: #D3D3D3;
}

@theme font {
    --font-inter: 'Inter', 'sans-serif'
}